.emails-editor .email-input {
    border: none;
    padding: 4px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    outline-color: rgba(195, 194, 207, 0.8);
}

.emails-editor .email-input::placeholder {
    color: #C3C2CF;
}
