@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.emails-editor .button {
    border-radius: 6px;
    padding: 10px 16px;
    color: #FFFFFF;
    background: #4262FF;
    border: none;
    margin-right: 16px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.emails-editor .button:hover {
    background-color: rgba(66, 98, 255, 0.8);
}
